
SFBarrageGift.xcodeproj/project.xcworkspace/xcuserdata/cnlive-lsf-doc.xcuserdatad/UserInterfaceState.xcuserstate

SFBarrageGift.xcodeproj/project.xcworkspace/xcuserdata/cnlive-lsf-doc.xcuserdatad/UserInterfaceState.xcuserstate

SFBarrageGift/Assets.xcassets/礼物飘屏-底色.imageset/礼物飘屏-底色@2x.png

SFBarrageGift/SFBarrageGifts/SFBarrageGiftView/SFGiftLeftView.m

SFBarrageGift/SFBarrageGifts/SFBarrageGiftView/SFGiftLeftView.xib
